ul {
  width: 700px;
  margin: 20px auto 0;
}
ul li {
  list-style-type: none;
  display: inline;
}

img:not(.logo img) {
  width: 200px;
}

span:not(.logo) {
  margin-right: 0em;
}

.logo {
  background-color: yellow;
  color: red;
}

.lienhe {
  color: ;
  background-color: orange;
}

.lienhe span {
  margin-right: 0px;
  border-left: 0px;
  padding-left: 0px;
}

hr {
  border: 1px dashed black;
  border-radius: 5px;
}

body {
  background-color: wheat;
}

.logo img {
  border-radius: 50%;
}
