ul {
  /* margin-top: 42px; */
  margin-left: 300px;
}
ul li {
  list-style-type: none;
  display: inline;
}

img:not(.logo img) {
  width: 200px;
}

span:not(.logo) {
  margin-right: 0em;
}

.logo {
  background-color: yellow;
  color: red;
}

.lienhe {
  color: ;
  background-color: orange;
}

hr {
  border: 1px dashed black;
  border-radius: 5px;
}

body {
  background-color: wheat;
}
