body {
  margin: 0;
}
.logo {
  background-color: rgb(245, 201, 8);
  height: 7vh;
  color: #59191e;
  margin: 0;
}
.bt img {
  border-radius: 70%;
  width: 3%;
}
.hinh img {
  width: 200px;
  height: auto;
}
.menu {
  margin: 0;
  background-color: #59191e;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul,
li {
  list-style-type: none;
  display: inline;
  padding: 4rem;
}
.menu a {
  color: white;
  text-decoration: none;
}
.footer {
  background-color: #59191e;
  position: absolute;
  bottom: 0;
  padding-top: 2%;
}
.footer span {
  color: rgb(245, 201, 8);
  margin-left: auto;
}
.lienhe {
  color: grey;
}
.box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
